/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Alumni+Sans+Pinstripe:ital@0;1&family=Bodoni+Moda+SC:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Gabarito:wght@400..900&family=Mrs+Saint+Delafield&family=Roboto:ital,wght@0,100..900;1,100..900&family=Ruthie&display=swap');


/* System Settings */
:root {
    --bg-primary: rgba(15,15,15,1);
    --txt-primary: rgba(255,255,255,1);

    --ff-primary: "Roboto", sans-serif;
}

::-webkit-scrollbar {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

html,
body {
    height: fit-content;
    width: 100%;
}

body {
    background: var(--bg-primary);
    color: var(--txt-primary);
    font-family: var(--ff-primary);
}



/* General Settings */
section {
    height: fit-content;
    width: 100%;
    padding-block: 5em;
}

.wrapper {
    height: 100%;
    width: 90%;
    margin-inline: auto;
    display: flex;
}

.split {
    height: 100%;
    width: 100%;
    display: flex;
}

.split > * {
    flex-basis: 100%;
}

header {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    font-weight: 500;
    margin-block: 1em;
}

header + main {
    height: fit-content;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-block: 1em;
}

footer {
    height: 10svh;
    background: rgba(0,0,0,1);
}



/* Hero */
#hero {
    height: 100svh;
    padding: 0;
}

#hero img {
    height: 25rem;
    width: auto;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

#hero .split > div {
    display: flex;
    justify-content: center;
    align-items: center;
}

#hero main > h1 {
    /* font-size: 4rem; */
    font-size: clamp(3.125rem, 5vw + 1rem, 6.25rem);
    font-weight: 100;
}

#hero main > h1 > a {
    color: var(--txt-primary);
    text-decoration: none;
    font-weight: 300;
}

#hero main > h2 {
    /* font-size: 2rem; */
    font-size: clamp(1rem, 5vw + 1rem, 3.125rem);
    font-weight: 100;
}

#hero main > .socialLinks {
    display: flex;
    gap: 1em;
    margin-top: 1em;
}

#hero main > .socialLinks > a {
    color: var(--txt-primary);
}

#hero main > .socialLinks i {
    font-size: clamp(1rem, 5vw + 1rem, 3.125rem);
}



/* Languages */
#Languages main {
    gap: 2em;
}

#Languages main > i {
    font-size: 4rem;
}



/* About Me */
#aboutMe {
    padding-bottom: 2.5em;
}

#aboutMe .wrapper {
    flex-direction: column;
}



/* Footer */
footer {
    padding: 2.5em 0;
}

footer .contactInfo {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 1em;
}

footer .contactInfo > i {
    display: flex;
    gap: 0.25em;
}

footer .socialLinks {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 1em;
}

footer .socialLinks > a {
    color: var(--txt-primary);
}

footer .socialLinks > a > i {
    font-size: clamp(1rem, 5vw + 1rem, 3.125rem);
}



/* Media */
@media (max-width: 1601px) {

/* General Settings */
.split {
    flex-direction: column;
    gap: 2em;
}



/* Hero */
#hero {
    height: fit-content;
    padding: 2.5em 0;
}

#hero img {
    height: calc(25svh + 1rem);
}

#hero main h1, #hero main h2 {
    text-align: center;
}

.socialLinks {
    justify-content: center;
}



/* Footer */
footer .contactInfo {
    flex-direction: column;
}

footer .socialLinks {
    justify-content: center;
}
}



@media (max-width: 569px) {

/* General Settings */
header {
    font-size: calc(1vw + 1rem);
}

}