/* CSS Reset */
:root {
    --bg-primary: rgba(247,247,247,1);
    --bg-secondary: rgba(8,8,8,1);

    --txt-primary: rgba(0,0,0,1);

    --accent-1: rgba(155,15,15,1);

    --ff-primary: 'Roboto', sans-serif;
}

.darkmode {
    --bg-primary: rgba(8,8,8,1);
    --bg-secondary: rgba(247,247,247,1);

    --txt-primary: rgba(255,255,255,1);
}

* {
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    display: none;
}

html,
body {
    min-height: 100svh;
    width: 100%;
}

body {
    background-color: var(--bg-primary);
    color: var(--txt-primary);
    font-family: var(--ff-primary);
}

img {
    height: auto;
    width: 100%;
    display: block;
    object-fit: cover;
    object-position: center;
}

a {
    text-decoration: none;
    color: var(--txt-primary);
}

section {
    min-height: fit-content;
    height: 100svh;
    width: 100%;
}

.wrapper {
    height: 100%;
    width: 90%;
    margin-inline: auto;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.split {
    height: 100%;
    display: flex;
    align-items: center;
}

.split > * {
    flex-basis: 100%;
}

.split1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.split2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}



/* Navigation */
nav {
    height: 10svh;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 9999;
}

nav .wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logoImg {
    width: 40%;
}

#navLinks {
    gap: 2em;
}

#navLinks a {
    font-size: clamp(0rem, 0.075vw + 1rem, 50rem);
    font-weight: 100;
}

#navLinks a:hover {
    color: var(--accent-1);
}

#darkModeButton {
    border: none;
    background: none;
}

#darkModeButton i {
    color: var(--txt-primary);
    font-size: clamp(0rem, 0.5vw + 1rem, 50rem);
}





/* Hero */
#hero .split1 {
    justify-content: center;
}

#hero img {
    width: 50%;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    filter: saturate(0);
    -webkit-filter: saturate(0);
}

#hero .split2 {
    justify-content: center;
}

#hero h1 {
    font-size: clamp(0rem, 4vw + 1rem, 50rem);
    font-weight: 700;
}

#hero h1 span {
    color: var(--accent-1);
}

#hero h2 {
    font-size: clamp(0rem, 0.75vw + 1rem, 50rem);
    font-weight: 100;
}



/* Portfolio */
#portfolio .split {
    gap: 2em;
}

.card {
    height: auto;
    width: 100%;
    aspect-ratio: 3 / 4;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card img {
    width: 90%;
    aspect-ratio: 16 / 9;
}